
.header-wrapper{

    display: flex;
    position:relative;
    background-color: aquamarine;


}
.for-logo{
    display: flex;
    position: relative;
    left: 5%;


}
.logotip{
    display:flex;
    height:40px;
    position:relative;
}
.menu{
    display: flex;
    position: relative;
    right: -80%;


}
.bell{
    display:flex;

    position:relative;
    cursor:pointer;
    top: 10%;

}
svg:hover{
  fill:lightblue;
}

.for-text{


    display:grid;
    align-content:  center;
    justify-items: center;
    min-height: 100vh;

}
